#gameover{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#gameover h2, p{
    margin-bottom: 1rem;
}

#gameover p{
    color: white;
    font-weight: 600 ;
}

#gameover  img{
    margin: 2rem;
    height: 200px;
}